{% extends 'base.html.twig' %}



{% block body %}


<h1 class="bg-blue-500 text-4xl p-4"> Clinique Veterinaire  </h1>

{# Le choix d'un nom de path est libre  #}
<a href="{{ path('property')}}"> Acheter </a>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ratione quidem incidunt, cum corrupti aliquid quasi ab assumenda, dolorum exercitationem numquam totam libero cumque, sapiente voluptate sequi eaque voluptates. Fugit.</p>

{% endblock %}